/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (max-width: 1005px) {
    .navbar{
        position:relative;
    }
    .menu{
        display:none;
    }
    .logo{
        margin:0;
        text-align:center;
    }

    .header{
        padding-top: 50px;
    }
    .headline{
        flex:100%;
        margin:5%;
        text-align:center;
    }
    .headline p{
        text-align:center;

    }
    .img-headline{
        display:none;
    }
    .whats{
        display:none;
    }
    .card{
        width:100%;
    }
}