@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    background: white;
    height: 100px;
    align-items: center;
    position: fixed;
    width: 100%
}


.logo {
    flex: 10%;
    margin-left: 10%;
    /* border:1px solid red; */
    text-align: left;
}

.logo h1 {
    font-family: 'Lobster', cursive;
    color: #180f4a;
    font-size: 34px;
}

.menu {
    flex: 70%;
    padding: 20px;
    text-align: right;
    /* border:1px solid green; */

}

.menu a {
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 20px;
}

.menu a:hover {
    border-top: 5px solid #180f4a;
}

#botao {
    background: #180f4a;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%
}

#botao:hover {
    border: none;
    background: #ff2978;

}

.header {
    display: flex;
    flex-flow: row swap;
    background: white;
    align-items: center;
    text-align: justify;
    padding-top: 100px;
}

.img-headline {
    flex: 40%;
    margin-right: 10%;
    text-align: center;
    /* border:1px solid black; */
}

.headline {
    flex: 40%;
    color: #180f4a;
    margin-left: 10%;
    /* border:1px solid black; */

}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.contact-btn {
    display: inline-block;
    text-decoration: none;
    background: #ff2978;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.contact-btn:hover {
    background: #180f4a;
}

.headline p {
    color: gray;
}

section {
    display: inline-block;
    margin-top: 80px;
    /* border:1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180f4a;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto {
    display: none;
}

.card:hover {
    background: #ff2978;
    color: white;
    padding: 50px;
}

.card:hover img {
    display: none;
}

.card:hover .card-text {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
}

footer {
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180f4a, #090422, black);
    text-align: center;
    border-top: 5px solid #ff2978;
}

.logo-rodape {
    padding: 100px;

}

.agencia {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
}

.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;

}